body {
  font-size:90%;
  color:#222;
  background:#fff;
  font-family:palatino,georgia,verdana,arial,sans-serif;
}


#index { 
  margin-top: 5em;
}

a {
  color: #444;
  text-decoration: underline;
}
a:hover {
  color: #000;
}

.title {
  color: #a00;
  font-weight: bold;
}

.site .title a {
  color: #a00;
  text-decoration: none;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

/* h1 here has the same appearence as blueprint's default h3 */
h1 {font-size:1.5em;line-height:1;margin-bottom:1em;}

/* from the default blueprint screen.css except that font size is 0.88em */
pre, code, tt {
  font:11px 'andale mono', 'lucida console', monospace;
  line-height:1.5;
}

#post { 
  margin-top: 3em;
}

#post .publish-date { 
  text-align: right;
  margin-bottom: 1em;
  color: #aaa;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding-left: 5px;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eee;
}

#post pre code {
  border: none;
}

/* terminal */

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

