<!DOCTYPE HTML>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Inderjit Gill" />
   <!-- Homepage CSS -->
    <style type="text/css" media="screen">
      * { margin: 0; padding: 0; }
      body { font-family: 'Palatino Linotype', Palatino, Georgia, 'Times New Roman', serif; background-color: #fff; overflow: auto; color: #aaaaaa; font-size: 16px; }
      h1 { font-weight: normal; margin: 0px 0 30px 0; color: #222; font-size: 90px; }
      a { text-decoration: none; color: #aaaaaa; }
        a:hover { color: #444; }
      #container { width: 100%; text-align: center; margin: 110px 0; }
      #container img { margin: 0 0 45px 0; }
    </style>
</head>
<body>

  {{ content }}

</body>
</html>
